{#{% extends 'myapp1/base.html' %}#}
{##}
{#{% block content %}#}
{#    <h1>{{ item.name }}</h1>#}
{#    {% if Item.available %}#}
{#        <p>{{ item.price }}</p>#}
{#        <p>{{ interested }} people are interested in this item.</p>#}
{#        <form method="post">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#    #}
{#{% endblock %}#}

{% extends 'myapp1/base.html' %}

{% block content %}
  <h1>{{ item.name }}</h1>
  <p>Number of people interested: {{ item.interested.count }}</p>
  <p>Price: {{ item.price }}</p>

  {% if item.available %}
    <form method="post" >
{#        action="{% url 'myapp1:interest' item.id %}">#}
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
  {% else %}
    <p>Sorry, this item is not currently available.</p>
  {% endif %}
{% endblock %}